Package: am.theiostre.searchcommands
Name: SearchCommands
Depends: mobilesubstrate
Version: 0.0.1-1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: theiostream
Author: theiostream
Section: Tweaks
Installed-Size: 16
